#.gitignore - Ignores files that follows the patterns mentioned.

.DS_Store

*.pdf

*.gch

*.exe

*.o

*.html

*.tex

*.eps

*.js

*.png

*.sty

*.bat

.vscode

CMakeFiles

CMakeCache.txt

Makefile

cmake_install.cmake